{% extends 'base.html' %}

{% block title %}New Book{% endblock %}

{% block content %}
    <div class="row justify-content-center my-5">
        <div class="col-lg-8 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Book Information</h3>
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-outline-success">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}