{% extends 'base.html' %}
{% load humanize %}

{% block title %} Detail {% endblock %}

{% block content %}
    <div class="container my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'book_list' %}">Book List</a></li>
            <li class="breadcrumb-item">Detail - {{ books.title }}</li>
        </ol>
    </div>

    <div class="container">
        {% if books.created_by == user %}
            <div class="alert alert-info alet-dismissiable fade show" role="alert">
                Welcome <strong>{{ books.created_by }}!</strong> Wanna edit post.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/media/{{ books.image }}" class="card-img" alt="{{ books.title }}" style="width: 270px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Name:</strong> {{ books.title }}</h5>
                        <p class="card-text"><strong>Author:</strong> {{ books.author }}</p>
                        <p class="card-text"><strong>Genre:</strong> {{ books.genre }}</p>
                        <p class="card-text"><strong>Language:</strong> {{ books.language }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ books.description }}</p>
                        <p class="card-text"><strong>Publication:</strong> {{ books.publication }}</p>
                        <p class="card-text"><strong>Price:</strong> {{ books.price }}</p>
                        <p class="card-text"><strong>Seller Name:</strong> {{ books.created_by }}</p>
                        <p class="card-text"><strong>Contact Number:</strong> {{ books.contact_number }}</p>
                        <p class="card-text"><small class="text-muted">posted {{ books.created_at|naturaltime }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3 mb-3">
        <div class="row top-buffer" style="margin-left: 380px;">
            <div class="col-0 ml-3">
                <a href="{% url 'order:AddToCart' books.pk %}" class="btn btn-outline-success" data-micron="pop"><img src="/static/img/cart.png" alt="cart" style="height: 20px;"></a>
            </div>
            {% if books.created_by == user %}
                <div class="col-8">
                    <a href="{% url 'book_update' books.pk %}"><button class="btn btn-outline-success mx-2">Edit</button></a>
                    <a href="{% url 'book_delete' books.pk %}"><button class="btn btn-outline-danger">Delete</button></a>
                </div>
            {% endif %}
        </div>
    </div>
    

{% endblock %}